.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  color: aliceblue;
  height: 100%;

  &__tagline {
    font-size: 80px;
    color: antiquewhite;
    font-family: "Great Vibes", cursive;
  }

  &__quote {
    margin-top: 60px;
    font-size: 35px;
    color: antiquewhite;
    font-family: "Alegreya Sans", sans-serif;
  }
}
table {
  width: 900px;
}

.mat-mdc-form-field {
  font-size: 14px;
  margin-top: 100px;
  width: 60%;
}

.filter {
  width: 900px;
}

td,
th {
  width: 25%;
  justify-content: center;
  align-items: center;
}
