<div class="login">

  <div class="login__heading">
    <p>Login</p>
    <p (click)="closeDialog()">X</p>
  </div>

  <!-- Email -->
  <mat-form-field class="login__form-field">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="abc@xyz.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <!-- Password -->
  <mat-form-field class="login__form-field">
    <mat-label>Enter your password</mat-label>
    <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <div class="login__buttons">
      <button mat-raised-button class="login__close-button" (click)="closeDialog()">Cancel</button>
      <button mat-raised-button class="login__login-button" (click)="login()">Login</button>
  </div>
</div>
